# This is our code-style check. We currently allow the following exceptions:
#   - E731: do not assign a lambda expression, use a def
#   - W503: line break before binary operator
#   - E203: whitespace before ':'
#   - N803/N806 name should be lowercase
#   - N812 lowercase imported as non lowercase

[flake8]
exclude = .git
max-line-length = 120
ignore = E731, W503, E203, N803, N806, N812
