numpy~=1.19.5
torch~=1.9.1
transformers~=4.12.3
ujson~=4.2.0
jsonlines~=2.0.0
emmental~=0.0.9
pydantic~=1.7.4
tqdm~=4.62.3
PyYAML~=5.3.1
pandas~=1.2.5
nltk~=3.6.5
rich~=10.1.0
progressbar~=2.5
spacy~=3.0.1
argh~=0.26.2
setuptools~=58.5.3
requests~=2.22.0
tagme~=0.1.3
pycountry
psutil
wandb
emmental
packaging
transformers
