emmental:
  lr: 2e-5
  n_epochs: 1
  evaluation_freq: 1
  warmup_percentage: 0.1
  lr_scheduler: linear
  log_path: /dfs/scratch0/lorr1/projects/bootleg-data/logs/cand_gen_korealiases
  checkpointing: true
  checkpoint_all: true
  checkpoint_freq: 1
  online_eval: false
  clear_intermediate_checkpoints: false
  checkpoint_metric: NED/Bootleg/dev/final_loss/acc_boot:max
  l2: 0.01
  grad_clip: 1.0
  gradient_accumulation_steps: 4
  fp16: true
run_config:
  log_level: DEBUG
  eval_batch_size: 32
  dataloader_threads: 6
  dataset_threads: 40
  spawn_method: fork
train_config:
  batch_size: 8
model_config:
  hidden_size: 100
  normalize: false
  temperature: 0.01
data_config:
  data_dir: /dfs/scratch0/lorr1/projects/bootleg-data/data/korealiases_0329
  train_in_candidates: false
  data_prep_dir: prep
  use_entity_desc: true
  entity_dir: /dfs/scratch0/lorr1/projects/bootleg-data/data/korealiases_0329/entity_db
  max_seq_len: 128
  max_seq_window_len: 64
  max_ent_len: 128
  overwrite_preprocessed_data: false
  dev_dataset:
    file: dev.jsonl
    use_weak_label: true
  test_dataset:
    file: test_tt.jsonl
    use_weak_label: true
  train_dataset:
    file: train.jsonl
    use_weak_label: true
  eval_slices:
    - unif_all
    - unif_NS_all
    - unif_HD
    - unif_TO
    - unif_TL
    - unif_TS
  word_embedding:
    cache_dir: /dfs/scratch0/lorr1/projects/bootleg-data/embs/pretrained_bert_models
    bert_model: bert-base-uncased
    context_layers: 4
    entity_layers: 4
